extends base

block css
	style.
		.header_tour{
			background: no-repeat center center fixed;
			background-size: cover;
			height: 558px;
			padding: 105px 75px;
		}
    
block content
	.header_tour(style=`background-image: url('/img/tours/${tour.imageCover}')`)
		h1=`Hello from ${tour.name}`
		p.p-5=`${tour.description}`
	h1.text-center Some image of this place
	
	img(src=`/img/tours/${tourIMG}2.jpg`, alt="")
	img(src=`/img/tours/${tourIMG}1.jpg`, alt="")
	img(src=`/img/tours/${tourIMG}3.jpg`, alt="")
